body{
	background-color: rgb(170, 197, 242);
	overflow: hidden;

}
.Box{
	border: 2px solid;
	background-color:rgb(192,192,192);
	width: 300px;
	height: 200px;
	margin-left: 450px;
	margin-top: 150px;
	text-align: center;
	padding-top: 50px;
}

input{
	width: 230px;
	height: 35px;
}
button{
	width: 150px;
	height: 30px;
	background-color: blue;
	color: white;
	border-radius: 15%;
}
